.header {
  &__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 70px;
    animation-duration: 2s;
    animation-name: intro;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    height: 15vh;
  }
  &__title {
    font-family: 'HARRYP';
    background: linear-gradient(rgb(80, 39, 228), rgb(219, 214, 182));
    -webkit-background-clip: text;
    color: transparent;
  }
}

@keyframes intro {
  from {
    transform: scale(10);
    opacity: 0;
    color: white;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .header {
    &__div {
      height: 30vh;
    }
  }
}
