body {
  display: flex;
  color: #ffff;
  background-color: rgb(2, 4, 37);
  justify-content: space-around;
  text-align: center;
  background-image: url('../../images/noche.jpg');
}

.li {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 30px;
    width: 200px;
    font-size: 18px;
    background-image: url(../../images/frame.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    &--allInfo {
      width: 200px;
      margin-left: -40px;
    }

    &--image {
      margin: -12px;
    }
    &--div {
      justify-self: auto;
      text-align: left;
      margin-top: 40px;
      width: 250px;
    }

    &--link {
      color: #ffff;
      text-decoration: none;
    }
    &--characterInfo {
      margin-top: 50px;
      text-align: justify;
      width: 200px;
    }
  }
}

.ul {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 80px;
    font-family: 'IM Fell English SC', serif;
    padding: 30px;
  }
}

.character {
  &__detail {
    display: flex;
    &--card {
      font-family: 'IM Fell English SC', serif;
      width: 700px;
      height: 400px;
      background-image: url(../../images/frame.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--image {
      margin-top: 50px;
      margin-right: 400px;
      width: 230px;
      height: 320px;
      margin-left: 12px;
      margin-top: 40px;
    }
    &--information {
      flex-direction: column;
      justify-content: center;
      margin-left: 400px;
      margin-top: -300px;
      font-size: 30px;
    }
    &--link {
      font-family: 'IM Fell English SC', serif;
      color: rgb(26, 24, 150);
      width: 200px;
      height: 30px;
      font-family: 'IM Fell English SC', serif;
      font-size: 20px;
      border-radius: px;
      margin: 50px;
      border-radius: 8px;
      &:hover {
        background-color: rgb(162, 139, 248);
        color: #fff;
        transition: color ease 1s;
      }
    }
    &--exists {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-family: 'IM Fell English SC', serif;
    }
  }
}

.form {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IM Fell English SC', serif;
    margin: 25px;
    &--check {
      height: 40px;
    }
  }

  &__label {
    font-size: 20px;
    line-height: 40px;
    font-family: 'IM Fell English SC', serif;
  }
  &__input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(162, 139, 248);
    &--sort {
      margin: 10px;
      height: 20px;
      width: 20px;
      margin-top: 10px;
    }
  }
  &__select {
    width: 200px;
    height: 25px;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px;
    font-family: 'IM Fell English SC', serif;
    background-color: rgb(162, 139, 248);
  }
}

.btn {
  &__reset {
    width: 200px;
    height: 25px;
    font-family: 'IM Fell English SC', serif;
    font-size: 20px;
    border-radius: 10px;
    margin: 30px;
    &:hover {
      background-color: rgb(162, 139, 248);
      color: #fff;
      transition: color ease 1s;
    }
  }
}

@media (min-width: 1024px) {
  .ul {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      font-family: 'IM Fell English SC', serif;
      padding: 30px;
      margin-left: 30px;
    }
  }
}
